@use '../../styles/partials/index' as util ;

.page-side-title-wrapper{
    @include util.size(100vw, 100vh, 0, 0);
    @include util.flex(center, center, null, null, null);

    position: relative;
    background: util.$BKGR-PRIM;
    background-size: util.$BKGR-SIZE;

    border: red 2px solid;

    .page-side-container{
    @include util.size(100%, 100%, 0, 0);

    border: cyan 2px solid;
    }
    .page-side-title{
        @include util.setFont(util.$DYNAMIC-SIDE-TITLE util.$FONT-PRIM, 300, rgba(255, 255, 255, 0.233));
        inset-block-end: 0;
        position: absolute;
        writing-mode: vertical-lr;
        margin: 0;
    }
}
