@use '../../util-styles/' as util;

.view-credential{
    @include util.size(100%, 100%, 0, 0);
    @include util.flex(space-between, flex-start, NULL, NULL, NULL);
    border: 2px solid yellow;
    overflow: hidden;

    .title{
        @include util.size(50%, auto, 0, 0);

        color: white;
        text-align: center;
        font-size: 2.4em;
        writing-mode: vertical-lr;
    }

    .options-list{
        @include util.size(100px, 100px, 0, 0);
        background: red;
    }
}