@use '../../util-styles/' as util;

.view-credential{
    @include util.size(100%, 100%, 0, 0);
    @include util.flex(space-between, flex-start, NULL, NULL, NULL);
    background: white;
    overflow: hidden;

    .title{
        @include util.size(auto, 100%, 0, 10px);
        @include util.setFont(3em util.$FONT-PRIM, 400, rgb(255, 255, 255));

        align-self: flex-start;
        position: relative;
        writing-mode: vertical-lr;
        
        &::before{
            @include util.pseudoMask(rgb(0, 0, 0));
            border: 2px solid red;
            z-index: -1;
            right: 100%;
            transition: 0.75s all cubic-bezier(0.19, 1, 0.22, 1);
            border: none;
            mix-blend-mode: difference;
        }
    }
    &:hover{
        .title::before{
            right: 0;
        }
    }
}