@use '../../util-styles/' as util;

.view-credential{
    @include util.size(100%, 100%, 0, 0);
    @include util.flex(space-between, flex-start, NULL, NULL, NULL);
    background: white;
    overflow: hidden;

    .options-wrapper{
        @include util.size(auto, auto, 0, 0);
        @include util.flex(center, center, column, NULL, NULL);
        .title{
            @include util.size(100%, 100%, 0, 0);
            @include util.setFont(3em util.$FONT-PRIM, 400, rgb(0, 0, 0));
    
            line-height: 2;
            border: 2px solid red;
            position: relative;
            writing-mode: vertical-lr;
        }
    }

    // &:hover{
    //     .title::before{
    //         right: 0;
    //     }
    // }
}