@use '../../styles/partials/index' as util;

.form-input-container {
    @include util.size(100%, auto, 0, 0);
    transition: all 0.4s ease-in-out;

    & > * {
        font-size: 2.4vw;
        line-height: 1.75rem;
    }

    .form-label {
        @include util.setFont(calc(util.$NAV_DYNAMIC_FONT_SIZE + 20px) util.$FONT-PRIM, 400, util.$TEXT-PRIM);
        opacity: 0.87;
        color: util.$TEXT-PRIM;
    }

    .input-container {
        @include util.size(auto, auto, 0, 0);
        border-bottom: 8px solid util.$BORDER_COLOR;

        .form-input {
            @include util.size(100%, auto, 20px 0 0, 1.3rem 1.1rem);
            display: flex;
            outline: none;
            border: none;
            color: util.$SIDEBAR-COLOR;
            box-sizing: border-box;
            font-size: 2.4rem;
            line-height: 1.25rem;
            background-color: rgba(45, 45, 45, 0.153);
        }

        .form-textarea {
            @include util.size(100%, 25vh, 20px 0 0, 25px 20px 0);
            border: 5px solid util.$BORDER_COLOR;
            border-radius: 30px;
            outline: none;
            background-color: transparent;
            background-color: rgba(45, 45, 45, 0.153);
            color: util.$SIDEBAR-COLOR;
            font-size: calc(1.8rem);
        }
    }
}

.active-input-container {
    border-bottom-color: white;
}