$BKGR-INIT: white;

$BKGR-PRIM:
radial-gradient(at 9% 16%, rgb(116, 136, 216) 0px, transparent 50%),
radial-gradient(at 91% 85%, rgb(97, 119, 183) 0px, transparent 50%),
radial-gradient(at 75% 25%, rgb(96, 120, 168) 0px, transparent 50%),
radial-gradient(at 81% 69%, rgb(115, 143, 229) 0px, transparent 50%),
radial-gradient(at 11% 75%, rgb(82, 127, 200) 0px, transparent 50%),
radial-gradient(at 88% 79%, rgb(55, 63, 117) 0px, transparent 50%),
radial-gradient(at 14% 24%, rgb(114, 175, 229) 0px, transparent 50%),
// ---------------------------------------------------------------- //
radial-gradient(at 55% 90%, rgb(75, 129, 184) 0px, transparent 50%),
radial-gradient(at 15% 90%, rgb(86, 103, 164) 0px, transparent 50%),
radial-gradient(at 95% 10%, rgb(86, 103, 164) 0px, transparent 50%);

$BKGR-SEC: hsl(240, 19%, 23%);
$TEXT-PRIM: hsl(35, 67%, 93%);
$TEXT-SEC: hsla(208,67%,80%,1);

$ICON-INACTIVE: hsla(210, 26%, 37%, 0.601);
$GULP-RED: #da4446;
$GIT-RED: #f05233;

$HTML-SHADE1: #e44b25;
$HTML-SHADE2: #f16427;
$HTML-FONT-COLOR1: #ebebeb;
$HTML-FONT-COLOR2: #ffffff;

$JS-YELLOW: #f7dd1d;
$REACT-BLUE: #00d9ff;
$SASS-PINK: #cf6399;

$FONT-ABOUT-PARAGRAPH: 'Uchen', serif;
$FONT-PAGE-TITLE: 'Source Code Pro', monospace;
$FONT-MY-NAME: 'Oleo Script Swash Caps', cursive;