$BKGR-INIT: white;

$BKGR-PRIM:
radial-gradient(at 94% 45%, hsla(229,72%,71%,1) 0px, transparent 50%),
radial-gradient(at 97% 91%, hsla(220,65%,72%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(216,83%,69%,1) 0px, transparent 50%),
radial-gradient(at 30% 98%, hsla(247,58%,69%,1) 0px, transparent 50%),
radial-gradient(at 1% 0%, hsla(220,86%,70%,1) 0px, transparent 50%),
radial-gradient(at 91% 81%, hsla(262,64%,68%,1) 0px, transparent 50%),
radial-gradient(at 66% 100%, hsla(208,58%,50%,1) 0px, transparent 50%),
radial-gradient(at 92% 33%, hsla(344,77%,56%,1) 0px, transparent 50%),
radial-gradient(at 3% 90%, hsla(210,70%,61%,1) 0px, transparent 50%),
radial-gradient(at 0% 32%, hsla(233,99%,75%,1) 0px, transparent 50%),
radial-gradient(at 32% 26%, hsla(189,47%,34%,1) 0px, transparent 50%),
radial-gradient(at 0% 59%, hsla(180,63%,70%,1) 0px, transparent 50%);

$BKGR-SEC: hsl(240, 19%, 23%);
$TEXT-PRIM: hsl(0, 0%, 100%);
$TEXT-SEC: hsla(208,67%,80%,1);

$ICON-INACTIVE: hsla(210, 26%, 37%, 0.601);
$GULP-RED: #da4446;
$GIT-RED: #f05233;

$HTML-SHADE1: #e44b25;
$HTML-SHADE2: #f16427;
$HTML-FONT-COLOR1: #ebebeb;
$HTML-FONT-COLOR2: #ffffff;

$JS-YELLOW: #f7dd1d;
$REACT-BLUE: #00d9ff;
$SASS-PINK: #cf6399;

$FONT-ABOUT-PARAGRAPH: 'Uchen', serif;
$FONT-PAGE-TITLE: 'Source Code Pro', monospace;
$FONT-MY-NAME: 'Oleo Script Swash Caps', cursive;