@use '../../util-styles/' as util;

.side-title-wrapper{        
    @include util.size(auto, 100%, 0, 15px 0);
    @include util.flex(flex-start, center, column, NULL, NULL);
    
    background: white;
    position: relative;
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);

    & > *{
        margin: 5px 0;
    }

    .title{
        @include util.setFont(250% util.$FONT-PRIM, 400, rgb(255, 255, 255));

        // clamp(55px)
        white-space: nowrap;
        line-height: 2;
        position: relative;
        writing-mode: vertical-lr;
        z-index: 1;
        mix-blend-mode: difference;
    }

    &::before{
        @include util.pseudoMask(black);
        transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
        left: -100%;
    }
    &:hover{
        &::before{
            // left: 0;
        }
    }
}