@use '../../../util-styles/' as util;

.nav-link{
    @include util.setFont(2em util.$FONT-PRIM, 400, util.$TEXT-PRIM);
    padding: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &::before{
        @include util.pseudoMask(#ffffff8e);
        @include util.size(100%, 2px, 0, 0);

        transition: 0.2s ease-in-out all;
        top: 95%;
        left: 100%;
    }

    &:hover, &:focus{
        &::before{
            @include util.size(100%, 2px, 0, 0);
            top: 95%;
            left: 0;
        }
    }
    // on scroll as nav bar shrinks, shrink font to 1.5em
}

.clicked{

}