@use '../../../util-styles/' as util;

.tech-skill-wrapper{
    background: util.$BKGR-SEC;

    @include util.size(100%, 100vh, 0, 0);
    @include util.flex(center, center, NULL, NULL, NULL);
    overflow: hidden;

    .view-credential-container{
        @include util.size(75%, 100%, 0, 0);
        @include util.flex(center, center, NULL, NULL, NULL);
        background-color: transparent;
        position: relative;
        border: 2px solid;
        // cursor: none;
    }

    .skill-icon-container{
        @include util.size(75%, 100%, 0, 0 0 0 55px);
        @include util.flex(flex-start, center, NULL, NULL, NULL);
        position: relative;
        background-color: util.$BKGR-SEC;

        .skill-icon-list{
            @include util.size(75%, 75%, 0, 0);
            display: grid;
            justify-items: start;
            align-content: center;
            grid-template-columns: 1fr 1fr;
            row-gap: 3.5em;
            column-gap: 3em;
        }
    }
}