@use '../../../util-styles/' as util;

.tech-skill-wrapper{
    background: util.$BKGR-SEC;

    @include util.size(100%, 100vh, 0, 0);
    @include util.flex(center, center, NULL, NULL, NULL);
    overflow: hidden;

    .view-credential-container{
        @include util.size(100%, 100%, 0, 0);
        @include util.flex(center, center, NULL, NULL, NULL);
        background-color: aqua;
        border: 2px solid blue;
        z-index: 10;
    }

    .skill-icon-container{
        @include util.size(70%, 100%, 0, 0);
        @include util.flex(flex-start, center, NULL, NULL, flex-end);
        // @include util.glassArea(blue);

        border: 2px solid rgb(184, 184, 254);
        position: relative;
        border: 2px solid red;

        .skill-icon-list{
            @include util.size(75%, 75%, 0, 0);
            display: grid;
            justify-items: center;
            align-content: center;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em;
            z-index: 10;
        }
    }
}