@use '../../../util-styles/' as util;

.project-main{
    @include util.size(100%, 100vh, 0, 0);
    @include util.flex(flex-start, center, row, NULL, NULL);
    position: relative;
    background: white;
    border: 2px solid green;

    .project-wrapper{
        @include util.size(80%, 100vh, 0, 0);
        overflow: hidden;
        position: relative;

        .carousel-container{
            @include util.size(100vw, 100%, 0, 0);
            @include util.flex(space-around, center, NULL, NULL, NULL);
            position: absolute;

            .project-card{
                @include util.size(370px, 70%, 0, 0);
                border: 2px solid green;
                
                .card-body{
                    @include util.size(100%, 100%, 0, 0);
                    position: relative;
                    background: url(../../../assests/placeholder.png) center no-repeat;
                    filter: blur(2.5px);
    
                    &::before{
                        @include util.pseudoMask(util.$BKGR-PROJ-CARD);
                        z-index: -1px;
                    }
                }
            }
        }
    }
    .cycler{
        @include util.size(50px, 0, 0 20px, 0);
        transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: rgb(0, 0, 0);
        border: none;

        .arrow{
            @include util.size(100%, 100%, 0, 0);
            transform: rotate(90deg);
            mix-blend-mode: difference;
        }
    }

    &:hover{
        .cycler{
            border-radius: 200px;
            height: 25%;
        }
    }
}