@use '../../../util-styles/' as util;

.project-main{
    @include util.size(100%, 100vh, 0, 0);
    position: relative;
    background: white;
    
    .project-wrapper{
        @include util.size(80%, 100vh, 0, 0);
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr ;

        .project-card{
            $cardSize: 50%;
        }
    }
    // .project-card{
    //     @include util.size(100px, 100px, 0, 0);
    //     border: 20px solid cyan;
    // }
}