@use '../../../util-styles/' as util;

.project-main{
    @include util.size(100%, 100vh, 0, 0);
    position: relative;
    background: white;

    .project-wrapper{
        @include util.size(80%, 100vh, 0, 0);
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr ;

        .project-card{
            $cardSize: 50%;
            position: relative;
            .card-body{
                @include util.size(100%, 100%, 0, 0);
                filter: blur(5px);
                z-index: 0;
                &::before{
                    @include util.pseudoMask(util.$BKGR-PROJ-CARD);
                    // box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
                    // background-color: util.$BKGR-PROJ-CARD;
                }
            }
        }
    }
}