@use './variables' as vars;

@mixin size($fillWidth-width, $fillHeight-height, $margin-margin, $padding-padding){
    margin: $margin-margin;
    padding: $padding-padding;
    width: $fillWidth-width;
    height: $fillHeight-height;
}

@mixin flex($justify-justify, $align-align, $direction-direction, $self-self_ju, $self-self_al){
    display: flex;
    justify-content: $justify-justify;
    align-items: $align-align;
    flex-direction: $direction-direction;
    justify-self: $self-self_ju;
    align-self: $self-self_al; 
}

@mixin setFont($family-size, $weight, $font-color){
    font: $family-size;
    font-weight: $weight;
    color: $font-color;
}

@mixin pseudoMask($shade){
        content: '';
        @include size(100%, 100%, 0, 0);
        position: absolute;
        inset: 0 0 0 0;
        background: $shade;
}

// @mixin altCursor($content){
    
// }

// Mixin should be applied on the highest level parent svg tag 


/* 
--------------------------------
General Skill card mixin should:
--------------------------------

1.) Set color of icon to a light blueish-gray
2.) Set all icons to be the same responsive size
3.) Set the cards to all have the flip animation

------------------------
Animation mixin should:
------------------------

1.) Change color of icon to brand color and grow by scale(1.2)
2.) Flip along its X-axis to reveal the name of the technology and a left-side growing 
    underline under the text in 
    the same color of its brand color

*/