@font-face {
    font-family: 'Glacial Indifference Reg';
    src: url('../../../Fonts/glacial-indifference/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('../../../Fonts/glacial-indifference/GlacialIndifference-Bold.otf');
}

$BKGR-PRIM: linear-gradient(90deg, rgba(0, 0, 0, 1) 52%, rgba(255, 255, 255, 1) 52%);
$BKGR-LANDING: #0c0c0f;
$BKGR-PAGE: #ece7dd;

$TITLE_DYNAMIC_FONT_SIZE: 9vw;
$BODY_DYNAMIC_FONT_SIZE: clamp(1.5vw, 1.9vw, 80px);
$NAV_DYNAMIC_FONT_SIZE: clamp(22px, 1.4vw, 1.8vw);
$PROJECT_CARD_TITLE_FONT_SIZE: clamp(1.9vw, 4vw, 50px);
$OFFSITE_BUTTON_SIZE: 4vw;

$SIDE_PAGE_TITLE_COLOR: rgba(255, 255, 255, 0.114);
$ORANGE_GRADIENT: linear-gradient(135deg, #ef5010 5%, #f3d43a 45%, #e72222 110%);
$SIDE-PAGE_TITLE_DYNAMIC: 8.5vw;

$BKGR-SEC: hsl(240, 19%, 23%);
$TEXT-PRIM: rgb(255, 255, 255);

$CUBIC_BEZ1: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$BKGR-POS-START: 75%;
$BKGR-SIZE: 350% 350%;

$ICON-INACTIVE: hsla(210, 26%, 37%, 0.601);
$FONT-BLEND-ALT: difference;

$FONT-PRIM: 'Glacial Indifference Reg';
$SIDE_PAGE_TITLE_FONT: 'Glacial Indifference Bold';
$INV_FONT_COLOR: rgb(22, 21, 21);
$BKGR-PAGE-BLK: rgba(12, 12, 12, 0.9);

$PRIM-PARAGRAPH-COLOR: #888;

// Skill Crawler //
$ICON_SIZE: 5.4vw;

// Card w/ Sidebar //
$OPTIONS_BTN: clamp(1.3vw, 7.8%, 2.9vw);
$SIDEBAR-COLOR: #ededed;

$TRANS-1: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
$TRANS-2: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) all;
;

// Contact section
$FORM_INPUT_BKGRD_COLOR: #111827;

// Animations
$TICKER_CRAWL_ANIMATION: ticker;
$TEXT_OVERLY_SHOW_ANIME: text_overly_show;

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes text_overly_show {
    0% {
        max-width: 0;
        min-height: 0;
    }

    50% {
        max-width: 0;
        min-height: min(55%, 45px);
    }

    100% {
        width: auto;
        max-width: 300px;
        min-height: min(55%, 45px);
    }
}