@font-face {
    font-family: 'Glacial Indifference Reg';
    src: url('../../../Fonts/glacial-indifference/GlacialIndifference-Regular.otf');
}
@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('../../../Fonts/glacial-indifference/GlacialIndifference-Bold.otf');
}

// $BKGR-INIT: #e5e1e1;
// $BKGR-PROJ-CARD: rgba(255, 255, 255, 0.5);
$BKGR-PRIM: linear-gradient(90deg, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 52%);
$BKGR-LANDING: #0c0c0f;

$TITLE_DYNAMIC_FONT_SIZE: clamp(12.9em, 375px, 550px);
$BODY_DYNAMIC_FONT_SIZE: clamp(2em, 50px, 80px);

$SIDE_PAGE_TITLE_COLOR: rgba(255, 255, 255, 0.233);
$SIDE-PAGE_TITLE_DYNAMIC: clamp(10.9em, 230px, 250px);

$BKGR-SEC: hsl(240, 19%, 23%);
$TEXT-PRIM: hsl(0, 0%, 100%);

$CUBIC_BEZ1: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$BKGR-POS-START: 75%; 
$BKGR-SIZE: 350% 350%;

$ICON-INACTIVE: hsla(210, 26%, 37%, 0.601);
$FONT-BLEND-ALT: difference;

$FONT-PRIM: 'Glacial Indifference Reg';
$SIDE_PAGE_TITLE_FONT: 'Glacial Indifference Bold';

$PRIM-PARAGRAPH-COLOR: #888;
