@use '../../util-styles/' as util;

.cursor{
    $circleDim: 65px;
    @include util.flex(center, center, null, null, null);
    @include util.size($circleDim, $circleDim, null, null);
    background: white;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none;
}