@use './partials/index' as util;

#root {
  min-width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

li {
  color: white;
}

.app-wrapper {
  @include util.size(100vw, 40vh, null, null);
  @include util.flex(center, center, column, null, null);
  border: red 2px solid;

  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;

  .app-container {
    @include util.size(100%, 100%, null, null);

    position: absolute;
    inset: 0;
    z-index: 20;
    // pointer-events: none;
  }
}