@use './partials/index' as util ;

#root {
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

// .logo {
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

.read-the-docs {
  color: #888;
}

//About Page

.about-body-container{
  @include util.size(100vw, 100vh, 0, 0);
  background: util.$BKGR-PRIM;
  background-size: util.$BKGR-SIZE;

  .about-body{
      @include util.size(auto, 100%, 0, 0 50px);
      @include util.flex(center, flex-start, column, NULL, NULL);

      & > *{ 
          margin: 3px 0; 
      }

      .about-salutations{
          @include util.setFont(12.9em util.$FONT-PRIM, 400, util.$TEXT-PRIM);
          @include util.size(20%, auto, NULL, 0);
          // border: 2px solid red;
          line-height: 0.8;
          mix-blend-mode: util.$FONT-BLEND-ALT;
      }

      .about-body-text{
          @include util.setFont(1.7em util.$FONT-PRIM, 400, util.$TEXT-PRIM);
          @include util.size(50%, auto, 30px 0, 0);
          mix-blend-mode: util.$FONT-BLEND-ALT;
      }
      .about-cta{
          @include util.flex(center, center, NULL, NULL, NULL);
          @include util.size(auto, auto, NULL, 0);
          mix-blend-mode: util.$FONT-BLEND-ALT;
          & > *{
              margin: 0 10px;
          }
      }
  }
}