@use '../../../util-styles/' as util;

.cta-button-wrapper{
    @include util.size(auto, auto, 0, 0);
    // border: 2px solid red;
    // overflow: hidden;
    border-radius: 100px;
    position: relative;
    background-color: black;

    .cta-button{
        @include util.size(auto, auto, 0, 20px);
        z-index: 9999;
        border-radius: 100px;
        border: 2px solid red;
        background-color: transparent;
        cursor: pointer;


        .inner-btn{
            @include util.setFont(1.5em util.$FONT-PAGE-TITLE, 400, white);
        }
    }

    &::before{
        $circle-dim: 275px;
        @include util.pseudoMask(rgb(255, 255, 255));
        @include util.size($circle-dim, $circle-dim, 0, 0);

        border-radius: 50%;
        border: 2px solid red;
        transform: translate(80%, -30%);
        transition: all .5s ease-in-out;
        z-index: 1;
    }

    &:hover{
        .inner-btn{
            color: black;
        }
        &::before{
            transform: translate(-10%, -30%);
        }
    }
}

@keyframes castUnder{
    
}