@use '../../../util-styles/' as util;

.cta-button{
    @include util.setFont(1.5em util.$FONT-PAGE-TITLE, 400, NULL);
    @include util.size(250px, auto, 0, 20px);
    border-radius: 100px;
    mix-blend-mode: util.$FONT-BLEND-ALT;
    border: 2px solid black;
    background-color: rgb(253, 253, 253);
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition: 0.4s ease-in-out all;

    cursor: pointer;

    &::before{
        $circle-dim: 275px;
        @include util.pseudoMask(rgba(255, 255, 255, 0.2));
        @include util.size(100%, 100%, 0, 0);
    
        border-top-left-radius: 100%;
        transition: all 0.25s cubic-bezier(0.17, 0.09, 0, 1.15);
        left: 100%;
        z-index: 1;
    }
    &:hover{
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0);
        &::before {
            left: 0;
            border-top-left-radius: 0;
        }
    }
}