@use '../../../../styles/partials/index' as util;

.skill-card-container{
    @include util.size(100px, auto, 0, 0);
    position: relative;
    border: 2px solid rgb(0, 255, 238);

    .skill-icon{
        $icon-size: 120px;
        @include util.size($icon-size, $icon-size, 0, 0);
        transition: 0.5s all cubic-bezier(.23,.75,.28,.9);
    }

    // .y-line{
    //     @include util.size(3px, 0, 0 7px, 0);
    //     transition: 0.3s all cubic-bezier(.23,.75,.28,.9);
    //     border: none;
    //     border-radius: 20px;
    // }

    // .side-text{
    //     @include util.setFont(2em util.$FONT-PRIM, 400, black);
    //     color: rgb(255, 255, 255);
    //     font-size: 30px;
    //     // transition: 0.3s all cubic-bezier(.23,.75,.28,.9);
    //     // position: absolute;
    //     // opacity: 0;
    //     // left: 75%;
    // }
    // &:hover{
    //     .y-line{ 
    //         @include util.size(3px, 100%, NULL, 0); 
    //     }
    //     .side-text{
    //         width: auto;
    //         overflow: visible;
    //         left: 100%;
    //         opacity: 1;
    //     }
    // }
}