@use '../../../util-styles/' as util ;

.about-body-container{
    @include util.size(100vw, 100vh, 0, 0);
    background: util.$BKGR-PRIM;
    background-size: util.$BKGR-SIZE;

    .about-body{
        @include util.size(auto, 100%, 0, 0 50px);
        @include util.flex(center, flex-start, column, NULL, NULL);

        & > *{ 
            margin: 3px 0; 
        }

        .about-salutations{
            @include util.setFont(12.9em util.$FONT-PRIM, 400, util.$TEXT-PRIM);
            @include util.size(20%, auto, NULL, 0);
            // border: 2px solid red;
            line-height: 0.8;
            mix-blend-mode: util.$FONT-BLEND-ALT;
        }

        .about-body-text{
            @include util.setFont(1.7em util.$FONT-PRIM, 400, util.$TEXT-PRIM);
            @include util.size(50%, auto, 30px 0, 0);
            mix-blend-mode: util.$FONT-BLEND-ALT;
        }
        .about-cta{
            @include util.flex(center, center, NULL, NULL, NULL);
            @include util.size(auto, auto, NULL, 0);
            mix-blend-mode: util.$FONT-BLEND-ALT;
            & > *{
                margin: 0 10px;
            }
        }
    }
}

.background-active{
	animation: BackgroundAnime 2s ease-in-out forwards;
}

@keyframes BackgroundAnime { 
    0% {
        background-position: util.$BKGR-POS-START;
	}

    100% {
		background-position: 30%;
	}
}