@use '../../styles/partials/index' as util;

.header-menu {
    @include util.size(100vw, auto, 0, 0);
    @include util.flex(center, center, null, null, null);
    mix-blend-mode: difference;
    position: fixed;
    z-index: 9999;
    // pointer-events: none;
}

.navbar {
    @include util.size(30%, auto, 0, 0);

    text-decoration: none;
    list-style: none;

    .navbar-container {
        @include util.flex(space-between, center, null, null, null);
        padding: 0px;
        list-style: none;

        .nav-option-container {
            transition: 0.2s ease-in-out all;
            position: relative;
            opacity: 0.27;

            .link-react-component {
                text-decoration: none;

                &:hover {
                    cursor: none;
                }
            }

            &:hover {
                cursor: none;
                text-shadow: rgb(255, 255, 255) 0 0 10px;
            }
        }

        .active-nav-option-container {
            opacity: 1;
        }

        .active-nav-option-container::before {
            content: '';

            @include util.size(calc(100%), 4px, 0, 0);
            border-radius: 50px;
            border: 0.5px solid rgba(255, 119, 0, 0.7);
            bottom: 0;
            position: absolute;
            // background: util.$ORANGE_GRADIENT;
            opacity: 0.97;

        }

        .nav-option {
            @include util.setFont(util.$NAV_DYNAMIC_FONT_SIZE util.$FONT-PRIM, 400, util.$TEXT-PRIM);
            margin-bottom: 14px;
            list-style: none;
            color: white;

        }
    }
}