@use '../../util-styles/' as util;

.page-title-container{
    @include util.size(auto, 100%, NULL, NULL);
    @include util.flex(center, center, NULL, NULL, NULL);
    border: 2px solid orange;
    top: 0;
    right: 0;
    position: absolute;
    writing-mode: vertical-lr;
    
    .page-title{
        // Will slide in from right and will have perspective effects onScroll 
        @include util.setFont(10em util.$FONT-PAGE-TITLE, 400, rgba(255, 255, 255, 0.5));
        // min(80px, 10em)
        text-align: center;
    }
}