@use '../../styles/partials/index' as util;

.projects-container{
    @include util.flex(center, center, null, null, null);
    background-color: util.$BKGR-PAGE;
    .project-display-board{
        @include util.size(88%, 100%, 0, 0);

        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-row: 2 / span auto;

        & > div{
            color: aliceblue;
        }
        .grid-span-column{
            grid-row: 1;
            grid-row-end: 3;
        }
    }
}