@use '../../styles/partials/index' as util;

.projects-container {
    @include util.flex(center, center, null, null, null);
    background-color: util.$BKGR-PAGE-BLK;
    // background-color: util.$BKGR-PAGE;

    .project-display-board {
        @include util.size(88%, 100%, 0, 0);

        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-row: 2 / span auto;

        & > div {
            color: aliceblue;
            box-shadow: 0 0 0.8px 0 inset black;
        }

        .grid-span-column {
            gap: 20px;
            grid-row: 1;
            grid-row-end: 3;
        }

    }
}