@use './util-styles/' as util;
* {
    box-sizing: border-box;
    margin: 0;
}

.App{
    @include util.flex(center, center, column, NULL, NULL);
    @include util.size(100vw, NULL, 0, 0);
    background: util.$BKGR-SEC;
    min-height: 100vh;
}