@use '../../styles/partials/index' as util;

.overlay-wrapper {
    // @include util.size(auto, auto, 0, 0);
    @include util.size(300px, auto, 0, 0);
    position: relative;

    .overlay-container {
        @include util.size(100%, 100%, 0, 0);
        @include util.flex(center, center, null, null, null);

        z-index: 100;
        position: absolute;

        .overlay {
            @include util.size(0, 0, auto, auto);
            @include util.flex(center, center, null, null, null);
            overflow: hidden;

            .overlay-text {
                font-size: 2.5vw;
                margin-left: 10px;
                text-wrap: nowrap;
            }
        }

        .wrapper-hovered {
            animation: 0.5s util.$TEXT_OVERLY_SHOW_ANIME forwards;
        }
    }

    &::after {
        content: '';

        @include util.size(100%, 100%, 0, 0);
        opacity: 0;
        inset: 0 0 0 0;
        position: absolute;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        backdrop-filter: blur(5.2px);
        -webkit-backdrop-filter: blur(5.2px);
        z-index: 99;
        transition: all 0.23s ease-in-out;
    }
}

.overlay-wrapper:hover::after {
    content: '';
    opacity: 1;
}