@use '../../util-styles/' as util;

//Kobab container height will be manipulated in side-titled.scss 

.options-container{
    @include util.flex(flex-start, center, column, NULL, NULL);
    @include util.size(100%, null, 0, 0);
    max-height: 40%;
    mix-blend-mode: difference;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    .kobab-container{
        @include util.size(40%, null, 0, 0);
        mix-blend-mode: difference;
        transform: rotate(90deg);
        transition: all 0.4s util.$CUBIC-BEZ1;
        z-index: 9999;
        
        .kobab{
            @include util.size(100%, 100%, 0, 0);
        }
    }
    .kobab-active{
        transform: rotate(0deg);
    }

    .options-list{
        @include util.size(auto, auto, 0, 0);
        @include util.flex(flex-start, center, column, NULL, NULL);
        list-style: none;
    
        .option{
            $optionSize: 30%;
            @include util.size($optionSize, $optionSize, 10px, 0);
    
            .option-icon{
                @include util.size(100%, 100%, 0, 0);
            }
        }
    }
}

.list-active{
    max-height: 9000px;
}
