@use '../../util-styles/' as util;

.tech-skill-wrapper{
    @include util.size(100%, auto, 0, 0);
    @include util.flex(center, center, NULL, NULL, NULL);
    border: 2px solid red;

    .viewCV-container{
        @include util.size(100%, 100%, 0, 0);
        @include util.flex(center, center, NULL, NULL, NULL);
        border: 2px solid blue;
    }

    .skills-list{
        @include util.size(100%, auto, 0, 0);
        border: 2px solid GREEN;
    }
}