@use '../../util-styles/' as util;

.tech-skill-wrapper{
    background: util.$BKGR-SEC;

    @include util.size(100%, 100vh, 0, 0);
    @include util.flex(center, center, NULL, NULL, NULL);
    overflow: hidden;

    .viewCV-container{
        @include util.size(100%, 100%, 0, 0);
        @include util.flex(center, center, NULL, NULL, NULL);
        border: 2px solid blue;
        
        .viewCV{
            @include util.size(100%, 100%, 0, 0);
            @include util.flex(center, center, NULL, NULL, NULL);
            border: 2px solid yellow;
            overflow: hidden;

            &:hover{
                cursor: pointer;
            }

            .title{
                @include util.size(50%, auto, 0, 0);
                color: white;
                text-align: center;
                font-size: 2.4em;
            }
        }
    }

    .skills-container{
        @include util.size(70%, 100%, 0, 0);
        @include util.flex(center, center, column, NULL, NULL);
        .skills-list{
            @include util.size(100%, 50%, 0, 0 20px);
            display: grid;
            justify-items: center;
            align-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2em;
            // border: 2px solid red;
        }
    }
}