@use '../../util-styles/' as util;

// General Styles //
.skill{
    @include util.size(100px, 100px, 0, 0);
    transition: 0.3s all ease-in-out;

    &:hover{
        fill: util.$GULP-RED;
        transform: scale(1.3);
    }
}