@use '../../util-styles/' as util;

.icon-container{
    @include util.size(50%, clamp(70px, 8vw, 110px), 0, 0);
    @include util.flex(center, center, NULL, NULL, NULL);
    position: relative;

    .content-wrapper{
        @include util.flex(flex-end, center, NULL, NULL, NULL);
        @include util.size(auto, 80%, 0, 0);

        .card-face{
            @include util.size(70%, auto, 0, 0);
            transition: 0.5s all cubic-bezier(.23,.75,.28,.9);
        }
    
        .y-line{
            @include util.size(0, 0, 0 7px, 0);
            transition: 0.3s all cubic-bezier(.23,.75,.28,.9);
            border: none;
            border-radius: 20px;
        }
    }

    .side-text{
        // @include util.size(0, auto, 0, 0);
        transition: 0.3s all cubic-bezier(.23,.75,.28,.9);
        color: white;
        font-size: 30px;
        position: absolute;
        opacity: 0;
        left: 75%;
    }
    &:hover{
        .content-wrapper{
            left: 0;
            .y-line{ 
                @include util.size(3px, 100%, NULL, 0); 
            }
        }
        .side-text{
            width: auto;
            overflow: visible;
            left: 100%;
            opacity: 1;
        }
    }
}